body{
    padding-bottom: 70px;
}

footer{
    z-index: 6;
}

.first{
    padding: 10px;
    border: 1px solid #bbbbbb;
}

.selected{
    background: #d4dadd;
}

table tbody tr{
    cursor: pointer;
}

.container-table{
    overflow: auto;
    height: 390px;
}

.container-table table{
    min-width: 600px;
}

@media screen and (max-width: 493px) {
    .col-auto{
        width: 100%;
    }
    .col-auto button{
        margin-left: 10px;
        width: 40px;
    }
    .btnclean{
        float: inline-end;
    }
    .btnadd{
        position: absolute;
        right: 50px;
    }
}
