<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventarios</title>
    <link rel="shortcut icon" href="./images/cesta.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    
    <header class="mb-2">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand">Inventarios fisicos</div>
        </nav>
    </header>

    <div class="container" id="app">
        <div class="first mb-3 pr-4">
            <div class="row">
                <div class="col-auto">
                    <label class="">Folio</label>
                    <input type="text" class="form-control mb-2" id="Folio" placeholder="Folio" @keyup.enter="setFolio()">
                </div>
                <div class="col-md">
                    <label class="" for="Almacen">Almacen</label>
                    <input type="text" class="form-control mutted mb-2" id="Almacen" placeholder="Almacen" :disabled="folioCreated">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col">
                            <label class="sr-only" for="Caja">Caja</label>
                            <input type="text" class="form-control mb-2" id="Caja" placeholder="Caja" :disabled="folioCreated">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="sr-only" for="Cajero">Cajero</label>
                            <input type="text" class="form-control mb-2" id="Cajero" placeholder="Cajero" :disabled="folioCreated">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="sr-only" for="Informacion">Informacion</label>
                    <input type="text" class="form-control mutted mb-2" id="Informacion" placeholder="Informacion" disabled>
                </div>
                <div class="col-md-6">
                    <div class="row" style="border: 1px solid #b6b6b6;">
                        <div class="col-sm">
                            <label class="" for="Compra">Compra</label>
                            <input type="text" class="form-control mb-2" id="Compra" placeholder="Compra" :disabled="folioCreated">
                        </div>
                        <div class="col-sm">
                            <label class="" for="Venta">Venta</label>
                            <input type="text" class="form-control mb-2" id="Venta" placeholder="Venta" :disabled="folioCreated">
                        </div>
                        <div class="col-sm">
                            <label class="" for="Existencia">Existencia</label>
                            <input type="text" class="form-control mb-2" id="Existencia" placeholder="Existencia" :disabled="folioCreated">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row align-items-center first">
            <div class="col-lg-2">
                <label class="" for="codigo">Articulo</label>
                <input type="text" class="form-control mb-2" id="codigo" placeholder="Articulo" v-model="mcodigo" @keyup.enter="enterInput('cajas')" @keyup.esc="escape()" @keyup.down="moveInput('cajas')" @keyup.up="moveInput('add')">
            </div>
            <div class="col-lg-5">
                <label class="" for="name">Descripcion</label>
                <input type="text" class="form-control mutted mb-2" id="name" placeholder="Descripcion" v-model="mdescription"  @keyup.enter="enterInput('cajas')">
            </div>
            <div class="col-lg-2">
                <label class="" for="cajas">uCompra</label>
                <input type="text" class="form-control mb-2" id="cajas" placeholder="uCompra" v-model="mcajas" @keyup.enter="enterInput('piezas')" @keyup.esc="escape()" @keyup.down="moveInput('piezas')" @keyup.up="moveInput('codigo')">
            </div>
            <div class="col-lg-2">
                <label class="" for="piezas">uVenta</label>
                <input type="text" class="form-control mb-2" id="piezas" placeholder="uVenta" v-model="mpiezas" @keyup.enter="enterInput('add')" @keyup.esc="escape()" @keyup.down="moveInput('add')" @keyup.up="moveInput('cajas')">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-primary mb-2 btnadd" id="add" @click="insertData()" @keyup.esc="escape()" @keyup.down="moveInput('codigo')" @keyup.up="moveInput('piezas')">+</button>
                <button type="button" class="btn btn-primary mb-2 btnclean" @click="cleanCamps()">-</button>
            </div>
        </div>

        <div class="container-table mt-5">
            <table class="table table-light">
                <thead class="thead-dark">
                    <tr>
                        <th width="50px">#</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>uCompra</th>
                        <th>uVenta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="register in registers" v-bind:id="`${register.consecutivo}tr`" :key="register.consecutivo" v-bind:class="{'selected': rowSelect === register.consecutivo}" @click="setSelectedRow(register.consecutivo)" @keyup.enter="aler('hla')">
                        <td>{{register.consecutivo}}</td>
                        <td>{{register.codigo}}</td>
                        <td>{{register.description}}</td>
                        <td>{{register.cajas}}</td>
                        <td>{{register.piezas}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
    </div>

    <footer class="fixed-bottom">
        <div class="alert alert-secondary mb-0" role="alert">
            Cancelar[Ctrl+a] Editar-Eliminar[Ctrl+m]
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>
</body>
</html>